body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

canvas {
    display: block;
    margin: auto;
}

#game-port {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}